body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('Screenshot\ from\ 2024-10-21\ 22-26-30.png'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #ff5722;
    border: none;
    padding: 10px 20px;
    color: rgb(240, 210, 210);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

