body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
}

.head {
    background: url('./Screenshot\ from\ 2024-10-21\ 22-26-30.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    color: #fdf7e4;
    padding-top: 200px;
    padding-bottom: 320px;
    width: 100%;
    text-align: center;
    
}

main {
    padding: 20px;
}
.most{
    padding:20%;
} 

.images {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.images img {
    max-width: 30%;
    height: auto;
}

.synopsis, .additional-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    color: #ff5722;
}
